### Archivos del sistema ###
.DS_Store
Thumbs.db

### Archivos generados por IDEs ###
.idea/
*.iws
*.iml
*.ipr
out/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

### Archivos generados por Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Dependencias de Node.js ###
node_modules/

### Archivos sensibles ###
.env
src/main/resources/*.json

### Archivos de Git ###
/EventosWebUSC.git/
